<a href="https://colab.research.google.com/github/PraphulKamabathula/DS1002-qtm3tc/blob/main/homework/week-3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 3

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for grading.

## 1. Variables

Declare and populate three variables below. Be sure your code outputs each variable:

1. Containing a string
2. Containing a boolean
3. Containing an integer

In [2]:
# Put answers below

12

In [30]:
str1 = "Calculator"
bool1 = False
int1 = 12

print(str1, bool1, int1)

Calculator False 12

In [31]:
type(str1)

str

In [32]:
type(bool1)

bool

In [33]:
type(int1)

int

## 2. String Manipulation

Take the following string and, using python commands, show how to fulfill the requested task. Be sure your code outputs the requested data.

String: "Go Hoos, Beat JMU!"

1. Write a command that extracts the first 8 characters of the string.
2. Write a command that extracts the last 4 characters of the string.

In [ ]:
# Put answers below

In [14]:
str1 = "Go Hoos, Beat JMU"
str1

'Go Hoos, Beat JMU'

In [15]:
str1[:8]

'Go Hoos,'

In [17]:
str1[-4:]

' JMU'

# 3. Concatenation

1. Declare any two string variables and concatenate them.
2. Declare a string parameter and concatenate another hard-coded phrase with it.

In [ ]:
# Put answers below

In [19]:
str1 = "JMU won, sadly. "
str2 = "We got the next game!"

str1

'JMU won, sadly. '

In [20]:
str2

'We got the next game!'

In [21]:
str1 + str2

'JMU won, sadly. We got the next game!'

# 4. Math Operations

Using the following numeric variables, write Python code that fulfills the requested operations. Be sure your code outputs the correct results.

```python
var1 = 9
var2 = 12
var3 = 48
var4 = 4
```

1. Divide var3 by var2
2. Multiply var1 by var4
3. Write a Python expression that gives a result of `16`.

In [ ]:
# Put answers below

In [27]:
var1 = 9
var2 = 12
var3 = 48
var4 = 4

print(var1,var2,var3,var4)

9 12 48 4

In [34]:
var3/var2

4.0

In [35]:
var1*var4

36

In [37]:
var2+var4

16