<a href="https://colab.research.google.com/github/PraphulKamabathula/DS1002-qtm3tc/blob/main/homework/week-13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 13

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL to your notebook for review.

## 1. Change Runtime to R (1 pt)

Change the runtime of this notebook to R. You can verify that you are running R by displaying the current version you are running. Run the cell below and show the output.

In [1]:
version

               _
platform       x86_64-pc-linux-gnu
arch           x86_64
os             linux-gnu
system         x86_64, linux-gnu
status
major          4
minor          3.2
year           2023
month          10
day            31
svn rev        85441
language       R
version.string R version 4.3.2 (2023-10-31)
nickname       Eye Holes

## 2. Create Vectors (2 pts)

Create two vectors in the cells below, according to the prompts given.

In [3]:
# create a vector with 7 integer values. Assign it to a variable named "my_integers"
my_integers <- c(1,54,3,56,4,578); my_integers

[1]   1  54   3  56   4 578

In [15]:
var1 <- 8
var2 <- 4
var3 <- 12
var4 <- 25

var5 <- var2/var1; var5; var6 <- var2^3*var3; var6; var7 <- var4/var3; var7

my_calculated_values <- c(var5, var6, var7); my_calculated_values

# Using the variables given above, assign three new variables the following calculated values:
#
# 1. Your first variable should be assigned the calculated value of var2 divided by var1.
# 2. Your second variable should be assigned the calculated value of var2 cubed times var3.
# 3. Your third variable should be assigned the calculated value of var4 integer divided by var3.
#
# Next, create an array populated by your three variables. Assign the array to a new variable named "my_calculated_values"

[1] 0.5

[1] 768

[1] 2.083333

[1]   0.500000 768.000000   2.083333

## 3. Vector Indexes (3 pts)

In the cell below, create a vector that starts with the integer 4, that increments by counts of 3 all the way to 28.

Assign the vector to a variable name.

In [17]:
#
v1 <- seq(from = 4, to = 28, by = 3);v1

[1]  4  7 10 13 16 19 22 25 28

Next, show how to display this vector with the 3 index removed.

In [46]:
#
v1[-3]

[1]  4  7 13 16 19 22 25 28

Finally, show how to delete the 4th, 5th, and 7th indexes from the vector and update the vector so they are forever removed from the vector.

Hint: there is a fairly simple way to do this in one line, such that you don't have to run a separate command for each removal.

In [51]:
#
v2 <- v1[c(-3:-5, -7)]; v2

[1]  4  7 19 25 28

## 4. Create a Data Frame (3 pts)

In the cell below create a data frame with 10 observations (rows) and 5 variables (columns) each. This data frame will describe some of your favorite musical performers. You can use real or fictitious data to populate your data frame.

Variables:
  - `artist` - Artist or band name
  - `category` - Rock, Pop, Country, Hip-hop, Jazz, Classical, Soul, Other. (Try to distribute your selections here)
  - `size` - (number of members, 1-?)
  - `start` - Debut year of artist.
  - `grammy` - Grammmy winner? `TRUE` | `FALSE`

First create vectors for each variable populated with your own performer data. Then create a data frame from these vectors (be sure to assign column names too) and assign it to a named variable such as `df`.

In [66]:
#
artist <- c("Travis Scott", "Playboi Carti", "Lester Young", "Charlie Parker", " Igor Stravinsky",
            "Dmotri Shostakovich","Gustav Mahler", "Kanye West", " Ferde Grofe", "Count Basie")
genre <- c("Rap", "Rap", "Jazz", "Jazz", "Classical", "Classical", "Classical", "Rap", "Classical", "Jazz")
size <- c(1,1,1,1,1,1,1,1,1,1)
debut <- c(2013, 2012, 1930, 1950, 1910, 1924, 1888, 2004, 1931, 1935)
grammy <- c(FALSE, FALSE, FALSE, TRUE, TRUE, FALSE, FALSE, TRUE, FALSE, TRUE)

df <- data.frame(Artist = artist, Genre = genre, Size = size, Debut = debut, Grammy = grammy )

## 5. Filter/Query a Data Frame (2 pts)

Use the data frame you created above and show how to perform the following queries.

In [68]:
df

   Artist              Genre     Size Debut Grammy
1  Travis Scott        Rap       1    2013  FALSE
2  Playboi Carti       Rap       1    2012  FALSE
3  Lester Young        Jazz      1    1930  FALSE
4  Charlie Parker      Jazz      1    1950   TRUE
5   Igor Stravinsky    Classical 1    1910   TRUE
6  Dmotri Shostakovich Classical 1    1924  FALSE
7  Gustav Mahler       Classical 1    1888  FALSE
8  Kanye West          Rap       1    2004   TRUE
9   Ferde Grofe        Classical 1    1931  FALSE
10 Count Basie         Jazz      1    1935   TRUE

In [70]:
# Display the first 3 records and only the `artist`, `category` and `grammy` columns for each.
df[1:3, c(1:2, 5)]

  Artist        Genre Grammy
1 Travis Scott  Rap   FALSE
2 Playboi Carti Rap   FALSE
3 Lester Young  Jazz  FALSE

In [84]:
# Display the records for just one musical category, such as only Rock bands or only Hip-hop bands.
df[df$Genre == "Classical",]

  Artist              Genre     Size Debut Grammy
5  Igor Stravinsky    Classical 1    1910   TRUE
6 Dmotri Shostakovich Classical 1    1924  FALSE
7 Gustav Mahler       Classical 1    1888  FALSE
9  Ferde Grofe        Classical 1    1931  FALSE

## Query a Data Frame using `tidyverse` (4 pts)

1. Show how to load the library.
2. Show how to glimpse basic features of the `starwars` data table.
3. Create a query using tidyverse that retrieves the following data:
    - Selects only these columns: `name`, `height`, `sex`, `species`.
    - Filters for all species that are NOT Human.
    - Arranges the resulting data in order by name.

Show your output in a data frame.

In [85]:
#
install.packages('tidyverse')
library(tidyverse)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [88]:
data(starwars);starwars

   name                  height mass   hair_color    skin_color
1  Luke Skywalker        172      77.0 blond         fair
2  C-3PO                 167      75.0 NA            gold
3  R2-D2                  96      32.0 NA            white, blue
4  Darth Vader           202     136.0 none          white
5  Leia Organa           150      49.0 brown         light
6  Owen Lars             178     120.0 brown, grey   light
7  Beru Whitesun lars    165      75.0 brown         light
8  R5-D4                  97      32.0 NA            white, red
9  Biggs Darklighter     183      84.0 black         light
10 Obi-Wan Kenobi        182      77.0 auburn, white fair
11 Anakin Skywalker      188      84.0 blond         fair
12 Wilhuff Tarkin        180        NA auburn, grey  fair
13 Chewbacca             228     112.0 brown         unknown
14 Han Solo              180      80.0 brown         fair
15 Greedo                173      74.0 NA            green
16 Jabba Desilijic Tiure 175    1358.0 NA            green-tan, brown
17 Wedge Antilles        170      77.0 brown         fair
18 Jek Tono Porkins      180     110.0 brown         fair
19 Yoda                   66      17.0 white         green
20 Palpatine             170      75.0 grey          pale
21 Boba Fett             183      78.2 black         fair
22 IG-88                 200     140.0 none          metal
23 Bossk                 190     113.0 none          green
24 Lando Calrissian      177      79.0 black         dark
25 Lobot                 175      79.0 none          light
26 Ackbar                180      83.0 none          brown mottle
27 Mon Mothma            150        NA auburn        fair
28 Arvel Crynyd           NA        NA brown         fair
29 Wicket Systri Warrick  88      20.0 brown         brown
30 Nien Nunb             160      68.0 none          grey
⋮  ⋮                     ⋮      ⋮      ⋮             ⋮
58 Cordé                 157       NA  brown         light
59 Cliegg Lars           183       NA  brown         fair
60 Poggle the Lesser     183     80.0  none          green
61 Luminara Unduli       170     56.2  black         yellow
62 Barriss Offee         166     50.0  black         yellow
63 Dormé                 165       NA  brown         light
64 Dooku                 193     80.0  white         fair
65 Bail Prestor Organa   191       NA  black         tan
66 Jango Fett            183     79.0  black         tan
67 Zam Wesell            168     55.0  blonde        fair, green, yellow
68 Dexter Jettster       198    102.0  none          brown
69 Lama Su               229     88.0  none          grey
70 Taun We               213       NA  none          grey
71 Jocasta Nu            167       NA  white         fair
72 Ratts Tyerell          79     15.0  none          grey, blue
73 R4-P17                 96       NA  none          silver, red
74 Wat Tambor            193     48.0  none          green, grey
75 San Hill              191       NA  none          grey
76 Shaak Ti              178     57.0  none          red, blue, white
77 Grievous              216    159.0  none          brown, white
78 Tarfful               234    136.0  brown         brown
79 Raymus Antilles       188     79.0  brown         light
80 Sly Moore             178     48.0  none          pale
81 Tion Medon            206     80.0  none          grey
82 Finn                   NA       NA  black         dark
83 Rey                    NA       NA  brown         light
84 Poe Dameron            NA       NA  brown         light
85 BB8                    NA       NA  none          none
86 Captain Phasma         NA       NA  unknown       unknown
87 Padmé Amidala         165     45.0  brown         light
   eye_color     birth_year sex            gender    homeworld
1  blue           19.0      male           masculine Tatooine
2  yellow        112.0      none           masculine Tatooine
3  red            33.0      none           masculine Naboo
4  yellow         41.9      male           masculine Tatooine
5  brown          19.0      female         feminine  Alderaan
6  blue           52.0      male           masculine Tatooine
7  blue           47.0      female         feminine  Tatooine
8  red              NA      none           masculine Tatooine
9  brown          24.0      male           masculine Tatooine
10 blue-gray      57.0      male           masculine Stewjon
11 blue           41.9      male           masculine Tatooine
12 blue           64.0      male           masculine Eriadu
13 blue          200.0      male           masculine Kashyyyk
14 brown          29.0      male           masculine Corellia
15 black          44.0      male           masculine Rodia
16 orange        600.0      hermaphroditic masculine Nal Hutta
17 hazel          21.0      male           masculine Corellia
18 blue             NA      male           masculine Bestine IV
19 brown         896.0      male           masculine NA
20 yellow         82.0      male           masculine Naboo
21 brown          31.5      male           masculine Kamino
22 red            15.0      none           masculine NA
23 red            53.0      male           masculine Trandosha
24 brown          31.0      male           masculine Socorro
25 blue           37.0      male           masculine Bespin
26 orange         41.0      male           masculine Mon Cala
27 blue           48.0      female         feminine  Chandrila
28 brown            NA      male           masculine NA
29 brown           8.0      male           masculine Endor
30 black            NA      male           masculine Sullust
⋮  ⋮             ⋮          ⋮              ⋮         ⋮
58 brown          NA        female         feminine  Naboo
59 blue           82        male           masculine Tatooine
60 yellow         NA        male           masculine Geonosis
61 blue           58        female         feminine  Mirial
62 blue           40        female         feminine  Mirial
63 brown          NA        female         feminine  Naboo
64 brown         102        male           masculine Serenno
65 brown          67        male           masculine Alderaan
66 brown          66        male           masculine Concord Dawn
67 yellow         NA        female         feminine  Zolan
68 yellow         NA        male           masculine Ojom
69 black          NA        male           masculine Kamino
70 black          NA        female         feminine  Kamino
71 blue           NA        female         feminine  Coruscant
72 unknown        NA        male           masculine Aleen Minor
73 red, blue      NA        none           feminine  NA
74 unknown        NA        male           masculine Skako
75 gold           NA        male           masculine Muunilinst
76 black          NA        female         feminine  Shili
77 green, yellow  NA        male           masculine Kalee
78 blue           NA        male           masculine Kashyyyk
79 brown          NA        male           masculine Alderaan
80 white          NA        NA             NA        Umbara
81 black          NA        male           masculine Utapau
82 dark           NA        male           masculine NA
83 hazel          NA        female         feminine  NA
84 brown          NA        male           masculine NA
85 black          NA        none           masculine NA
86 unknown        NA        NA             NA        NA
87 brown          46        female         feminine  Naboo
   species
1  Human
2  Droid
3  Droid
4  Human
5  Human
6  Human
7  Human
8  Droid
9  Human
10 Human
11 Human
12 Human
13 Wookiee
14 Human
15 Rodian
16 Hutt
17 Human
18 Human
19 Yoda's species
20 Human
21 Human
22 Droid
23 Trandoshan
24 Human
25 Human
26 Mon Calamari
27 Human
28 Human
29 Ewok
30 Sullustan
⋮  ⋮
58 Human
59 Human
60 Geonosian
61 Mirialan
62 Mirialan
63 Human
64 Human
65 Human
66 Human
67 Clawdite
68 Besalisk
69 Kaminoan
70 Kaminoan
71 Human
72 Aleena
73 Droid
74 Skakoan
75 Muun
76 Togruta
77 Kaleesh
78 Wookiee
79 Human
80 NA
81 Pau'an
82 Human
83 Human
84 Human
85 Droid
86 NA
87 Human
   films
1  The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
2  The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope
3  The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
4  The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope
5  The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
6  Attack of the Clones, Revenge of the Sith , A New Hope
7  Attack of the Clones, Revenge of the Sith , A New Hope
8  A New Hope
9  A New Hope
10 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope
11 Attack of the Clones, The Phantom Menace  , Revenge of the Sith
12 Revenge of the Sith, A New Hope
13 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
14 The Empire Strikes Back, Return of the Jedi     , A New Hope             , The Force Awakens
15 A New Hope
16 The Phantom Menace, Return of the Jedi, A New Hope
17 The Empire Strikes Back, Return of the Jedi     , A New Hope
18 A New Hope
19 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi
20 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi
21 The Empire Strikes Back, Attack of the Clones   , Return of the Jedi
22 The Empire Strikes Back
23 The Empire Strikes Back
24 The Empire Strikes Back, Return of the Jedi
25 The Empire Strikes Back
26 Return of the Jedi, The Force Awakens
27 Return of the Jedi
28 Return of the Jedi
29 Return of the Jedi
30 Return of the Jedi
⋮  ⋮
58 Attack of the Clones
59 Attack of the Clones
60 Attack of the Clones, Revenge of the Sith
61 Attack of the Clones, Revenge of the Sith
62 Attack of the Clones
63 Attack of the Clones
64 Attack of the Clones, Revenge of the Sith
65 Attack of the Clones, Revenge of the Sith
66 Attack of the Clones
67 Attack of the Clones
68 Attack of the Clones
69 Attack of the Clones
70 Attack of the Clones
71 Attack of the Clones
72 The Phantom Menace
73 Attack of the Clones, Revenge of the Sith
74 Attack of the Clones
75 Attack of the Clones
76 Attack of the Clones, Revenge of the Sith
77 Revenge of the Sith
78 Revenge of the Sith
79 Revenge of the Sith, A New Hope
80 Attack of the Clones, Revenge of the Sith
81 Revenge of the Sith
82 The Force Awakens
83 The Force Awakens
84 The Force Awakens
85 The Force Awakens
86 The Force Awakens
87 Attack of the Clones, The Phantom Menace  , Revenge of the Sith
   vehicles
1  Snowspeeder          , Imperial Speeder Bike
2
3
4
5  Imperial Speeder Bike
6
7
8
9
10 Tribubble bongo
11 Zephyr-G swoop bike, XJ-6 airspeeder
12
13 AT-ST
14
15
16
17 Snowspeeder
18
19
20
21
22
23
24
25
26
27
28
29
30
⋮  ⋮
58
59
60
61
62
63
64 Flitknot speeder
65
66
67 Koro-2 Exodrive airspeeder
68
69
70
71
72
73
74
75
76
77 Tsmeu-6 personal wheel bike
78
79
80
81
82
83
84
85
86
87
   starships
1  X-wing          , Imperial shuttle
2
3
4  TIE Advanced x1
5
6
7
8
9  X-wing
10 Jedi starfighter        , Trade Federation cruiser, Naboo star skiff        , Jedi Interceptor        , Belbullab-22 starfighter
11 Trade Federation cruiser, Jedi Interceptor        , Naboo fighter
12
13 Millennium Falcon, Imperial shuttle
14 Millennium Falcon, Imperial shuttle
15
16
17 X-wing
18 X-wing
19
20
21 Slave 1
22
23
24 Millennium Falcon
25
26
27
28 A-wing
29
30 Millennium Falcon
⋮  ⋮
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77 Belbullab-22 starfighter
78
79
80
81
82
83
84 T-70 X-wing fighter
85
86
87 H-type Nubian yacht, Naboo star skiff   , Naboo fighter

In [93]:
df2 <- starwars %>%
  select(name, height, sex, species) %>%
  filter(species != 'human') %>%
  arrange(name)

df2

   name                  height sex    species
1  Ackbar                180    male   Mon Calamari
2  Adi Gallia            184    female Tholothian
3  Anakin Skywalker      188    male   Human
4  Arvel Crynyd           NA    male   Human
5  Ayla Secura           178    female Twi'lek
6  BB8                    NA    none   Droid
7  Bail Prestor Organa   191    male   Human
8  Barriss Offee         166    female Mirialan
9  Ben Quadinaros        163    male   Toong
10 Beru Whitesun lars    165    female Human
11 Bib Fortuna           180    male   Twi'lek
12 Biggs Darklighter     183    male   Human
13 Boba Fett             183    male   Human
14 Bossk                 190    male   Trandoshan
15 C-3PO                 167    none   Droid
16 Chewbacca             228    male   Wookiee
17 Cliegg Lars           183    male   Human
18 Cordé                 157    female Human
19 Darth Maul            175    male   Zabrak
20 Darth Vader           202    male   Human
21 Dexter Jettster       198    male   Besalisk
22 Dooku                 193    male   Human
23 Dormé                 165    female Human
24 Dud Bolt               94    male   Vulptereen
25 Eeth Koth             171    male   Zabrak
26 Finis Valorum         170    male   Human
27 Finn                   NA    male   Human
28 Gasgano               122    male   Xexto
29 Greedo                173    male   Rodian
30 Gregar Typho          185    male   Human
⋮  ⋮                     ⋮      ⋮      ⋮
54 Padmé Amidala         165    female Human
55 Palpatine             170    male   Human
56 Plo Koon              188    male   Kel Dor
57 Poe Dameron            NA    male   Human
58 Poggle the Lesser     183    male   Geonosian
59 Qui-Gon Jinn          193    male   Human
60 R2-D2                  96    none   Droid
61 R4-P17                 96    none   Droid
62 R5-D4                  97    none   Droid
63 Ratts Tyerell          79    male   Aleena
64 Raymus Antilles       188    male   Human
65 Rey                    NA    female Human
66 Roos Tarpals          224    male   Gungan
67 Rugor Nass            206    male   Gungan
68 Saesee Tiin           188    male   Iktotchi
69 San Hill              191    male   Muun
70 Sebulba               112    male   Dug
71 Shaak Ti              178    female Togruta
72 Shmi Skywalker        163    female Human
73 Tarfful               234    male   Wookiee
74 Taun We               213    female Kaminoan
75 Tion Medon            206    male   Pau'an
76 Wat Tambor            193    male   Skakoan
77 Watto                 137    male   Toydarian
78 Wedge Antilles        170    male   Human
79 Wicket Systri Warrick  88    male   Ewok
80 Wilhuff Tarkin        180    male   Human
81 Yarael Poof           264    male   Quermian
82 Yoda                   66    male   Yoda's species
83 Zam Wesell            168    female Clawdite