<a href="https://colab.research.google.com/github/PraphulKamabathula/DS1002-qtm3tc/blob/main/homework/week-8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## While-Loops

Perform the following steps in code:
1. Define a variable and populate it with `0`.
2. Create a while statement that evaluates whether that variable is less than or equal to `20`.
3. Within the while loop evaluate if the variable value is even or odd.
4. Within the while loop, if the variable value is even, print it. If not, do not print it.
5. Within the while loop, finally add `1` to the variable before it repeats.

In [62]:
# code here
var1 = 0
while var1 <= 20:
  var1 = var1+ 1
  if var1 % 2 == 0:
    print(var1)
  else:
    break

## For-Loops with Lists

In [63]:
# Use this list in the exercises below

mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]

In [65]:
# Write a command to print out all the values of this list
# EXCEPT for any negative values. Omit them from the printing.
for number in mylist:
  if number > 0:
    print(number)

9
15
23
4
92
47
33
17
18
38

In [67]:
# Repeat the command from above, but this time get
# the absolute value of any negative values in the list
# and print those with the other items.
for number in mylist:
  if abs(number) > 0:
    print(abs(number))

9
15
23
4
92
47
33
17
4
18
38
242

In [68]:
# Similar to above, write a command to print out items in
# the list but omit any values greater than 20 and less than 40.
for number in mylist:
  if 20 < number < 40:
    print(number)

23
33
38

## For-Loops with Dictionaries

In [69]:
capitals = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}

In [70]:
# Write a command to print out all the keys of this dict
capitals.keys()

dict_keys(['United States', 'Italy', 'England', 'Thailand', 'Brazil'])

In [74]:
# Write a command to print out all the values of this dict
for city in capitals:
  print(capitals[city])

Washington DC
Rome
London
Bangkok
Brasilia

In [73]:
# Write a command to print all the keys and values for this dict
for country, city in capitals.items():
  print(country, '->', city)

United States -> Washington DC
Italy -> Rome
England -> London
Thailand -> Bangkok
Brazil -> Brasilia

In [75]:
# Write a command to print only the first three values and NOTHING more.
for city in capitals:
  if city == 'Brazil':
    break
  else:
    print(capitals[city])

Washington DC
Rome
London
Bangkok